# A service to automatically run t99metrics script after machine's full boot

[Unit]
Description=Metrics Adjustments

[Service]
ExecStart=/usr/local/sbin/99metrics.sh

[Install]
WantedBy=multi-user.target

